/* General CSS */
/* TEMPORARY FORBID
html, body    {
margin: 0;
padding: 0;
}

#header  {
position: relative;
display: block;
height: 70px;
margin-top: 13px;
margin-left: 50%;
right: 300px;
}

#sub_heading    {

}*/


